<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TITLE</title>
    <link rel="stylesheet" href="../../Templates/blog.css">
</head>
<body>
    <div class="container">
        <a href="../../index.html" class="site-header">
            The Null Space Blog
        </a>
        <h1>TITLE</h1>
        <span class="post-date">DATE</span>
        <div id="content">
            <!-- CONTENT_START -->
            <!-- CONTENT_END -->
        </div>
        <footer class="blog-footer">
            <p>Debugging my poorly articulated thoughts</p>
            <div class="social-links">
                <a href="mailto:msrsaditya@gmail.com" class="social-link">Email</a>
                <a href="https://github.com/msrsaditya" class="social-link" target="_blank">GitHub</a>

                <a href="https://twitter.com/msrsaditya" class="social-link" target="_blank">Twitter</a>
                <a href="https://msrsaditya.github.io/About/" class="social-link" target="_blank">Website</a>
            </div>
        </footer>
    </div>
</body>
</html>
